
<footer class="page-footer font-small stylish-color-dark fixed-bottom">

<!-- Copyright -->
<div class="footer-copyright text-center bg-dark text-white py-3">© 2020 Copyright:
    <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations"> faKeweb.com</a>
</div>
<!-- Copyright -->

</footer>